<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- ইন্টারনেট পারমিশন -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- অ্যান্ড্রয়েড টিভি সাপোর্ট ফিচার -->
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <uses-feature android:name="android.software.leanback" android:required="false" />

    <application
        android:allowBackup="true"
        android:label="A-TV Player"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        
        <!-- লগইন স্ক্রিন -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ভিডিও প্লেয়ার স্ক্রিন (ল্যান্ডস্কেপ মোড টিভির জন্য) -->
        <activity 
            android:name=".PlayerActivity"
            android:exported="false"
            android:screenOrientation="landscape">
        </activity>

    </application>
</manifest>
